# Je ne sais pas encore expliquer ces lignes mais cela viendra.

RewriteEngine On

# Redirect requests to Router.php
RewriteCond %{REQUEST_URI} !=/Router.php
RewriteCond %{REQUEST_URI} !/public/*
RewriteRule .* /Router.php