/* Le tableau */

table {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	border-collapse: collapse;
}

thead,tfoot {
    background-color: gray;
    color: #fff;
}

form {
	margin-top: 20px;
}
input {
	margin-bottom: 10px;
}

/* Règle pour les lignes du tableau */


tbody tr:hover:not(tbody tr:first-child) {
	border: 3px dashed red;
}

.userSelected{
	background-color: lightpink;
}

/* toutes les lignes du tableau excepté la première peuvent être cliquée */
tbody tr:not(tbody tr:first-child) {
	cursor: pointer;
}

td {
	border: 2px solid lightgray;
}


/* Bouttons et Formulaire */

#updateUser {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 15px;
}

#updateUser table {
	width: fit-content;

	margin-left: auto;
	margin-right: auto;

	border: none;
	/* border: 3px solid lightgray; */
}
#updateUser tr:first-child * {
	color: grey;
	border-top: none;
}
#updateUser td {
	padding: 15px 10px 15px 10px;
	border-left: none;
	border-right: none;
}
#updateUser tr:last-child * {
	border-bottom: none;
}
#updateUser fieldset {
	padding: 0 50px 0 50px;
}

#updateUser form {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#updateUser fieldset {
	/* Cache le fieldset */
	border: none;
	width: fit-content;
	height: fit-content;
}

/* Ajout d'un utilisateur */

#addUser {
	width: fit-content;
	margin-left: auto;
	margin: 50px auto auto auto;
}

#addUser fieldset {
    border-radius: 25px;
	padding-top: 20px;
}

