#etiquette {
    display: flex;
    margin: 0 auto 0 auto;

    overflow: hidden;
    border: solid 2px black;
    width: 105mm;
    height: 42mm;
}

#qrcode {
    margin: auto 5mm auto auto;
    width: 150px;
    height: 150px;
}

#desc {
    margin: auto auto auto 10mm;

}