@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    text-align: center;
    font-family: 'Sora', sans-serif;
}

#etiquette {
    display: flex;
    margin: 0 auto 0 auto;

    overflow: hidden;
    border: solid 2px black;
    width: 105mm;
    height: 42mm;
}

#qrcode {
    margin: auto 5mm auto 5mm;
    width: 150px;
    height: 150px;
}

#desc {
    margin: auto auto auto 10mm;

}