/* Le tableau */

table {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	border-collapse: collapse;
}

thead {
    color: gray;
}
thead th:first-child {
	padding: 0 0 15px 15px;
}
thead th:last-child {
	padding: 0 15px 15px 0;
}
thead th {
	padding-bottom: 15px;
}

/* Règle pour les lignes du tableau */


tbody tr:hover {
	border: 3px dashed red;
}

.resSelected{
	border: 3px solid red;
	background-color: lightpink;
}

/* toutes les lignes du tableau excepté la première peuvent être cliquée */
tbody tr {
	cursor: pointer;
}

td {
	border: 2px solid lightgray;
}

/* Bouttons et Formulaire */

#updateTicket {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 15px;
}

#updateTicket table {
	width: fit-content;

	margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;

	border: none;
	/* border: 3px solid lightgray; */
}
#updateTicket tr:first-child * {
	border-top: none;
}
#updateTicket td {
	padding: 15px 10px 15px 10px;
	border-left: none;
	border-right: none;
}
#updateTicket tr:last-child * {
	border-bottom: none;
}
#updateTicket fieldset {
	/* Cache le fieldset */
	border: none;
	width: fit-content;
	height: fit-content;
}

fieldset {
	padding: 0 50px 0 50px;
}
form {
	width: fit-content;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
}
input, select {
    margin-bottom: 15px;
}

/* Ajout d'un utilisateur */

#addTicket {
	width: fit-content;
	margin-left: auto;
	margin: 25px auto auto auto;
}

#addTicket fieldset {
    border-radius: 25px;
    padding-top: 15px;
}